.container1 {
    position: absolute;
    top: 780px;
    left: 100px;
    width: 670px;
    height: 350px;
    /* width:50%; */
    /* background-color: red; */
    border-radius: 1px 100px 100px 20px;
}

.picture1 {
    position: relative;
    top: 50px;
    width: 670px;
    height: 300px;
    border-radius: 0px 100px 30px 20px;
    opacity: 50%;
}

.background2 {
    position: absolute;
    background-color: #4d4d4d;
    top: 50px;
    width: 670px;
    height: 300px;
    border-radius: 0px 100px 30px 20px;
    z-index: -1;
}

.background1 {
    background-color: #f6f6f6;
    position: relative;
    top: -304px;

    left: 50px;
    width: 500px;
    height: 350px;
    background-repeat: no-repeat;
    border-radius: 0px 100px 100px 20px;
    z-index: -2;
}
.dispElems {
    position: absolute;
    left: 50px;
    top: 97px;
    width: 361px;
    height: 210px;
}

.top-left {
    position: absolute;
    font: normal 13px/20px Bahnschrift;
    color: #ffffff;
}
.left-arrow {
    position: absolute;
    top: 21px;
    width: 13px;
    height: 13px;
    color: #ffffff;
}
.right-arrow1 {
    position: absolute;
    top: 21px;
    left: 29px;
    width: 13px;
    height: 13px;
    color: #ffffff;
}

.center-text {
    position: absolute;
    top: 87px;
    width: 361px;
    font: normal normal bold 32px/20px Bahnschrift;
    color: white;
}

.length {
    position: absolute;
    top: 174px;
    font: normal 13px/20px Bahnschrift;
    opacity: 50%;
    color: #ffffff;
}

.vTours {
    position: absolute;
    top: 192px;
    font: normal 13px/20px Bahnschrift;
    color: #ffffff;
}

.right-arrow2 {
    position: absolute;
    top: 192px;
    left: 76px;
    width: 13px;
    height: 13px;
    color: #ffffff;
}
.container2 {
    position: absolute;
    top: 830px;
    left: 840px;
    width: 980px;
    height: 300px;
}

#t2 {
    position: absolute;
    left: 100px;
    top: 1280px;
    width: 403 px;
    height: 42px;
}
.text1 {
    position: absolute;
    width: 269px;
    height: 42px;
    font: normal normal normal 42px/20px Bahnschrift;
    color: #4d4d4d;
}
.text1::after {
    content: "Startrip";
    left: 120px;
    font: normal normal normal 42px/20px Bahnschrift;
    color: #ffb300;
}

#share-button1 {
    position: absolute;
    top: 4px;
    left: 285px;
    color: #ffb300;
}

.content {
    position: absolute;
    color: #bebebe;
    font-size: 13px;
    font: normal normal normal 13px/20px Bahnschrift;
    top: 70px;
    width: 980px;
    height: 139px;
}
.contentMb {
    visibility: hidden;
    position: absolute;
    color: #bebebe;
    font-size: 13px;
    font: normal normal normal 13px/20px Bahnschrift;
    top: 28px;
    width: 335px;
    height: 93px;
    padding: 20px;
}

.rects {
    position: absolute;
    top: 240px;
}

.rect1 {
    position: absolute;
    background-color: #f6f6f6;
    width: 200px;
    height: 61px;
    border-radius: 78px;
}
.view-Review {
    position: absolute;
    font: normal normal normal 13px/20px Bahnschrift;
    color: #4d4d4d;
    left: 61px;
    top: 24px;
}
.view-Review::before {
    content: "View-";
}

.rect2 {
    position: absolute;
    background-color: #ffb300;
    left: 210px;
    width: 200px;
    height: 61px;
    border-radius: 78px;
}

.see-fully {
    position: absolute;
    font: normal normal normal 13px/20px Bahnschrift;
    color: #ffffff;
    left: 73px;
    top: 24px;
}

.right-arrow3 {
    position: absolute;
    top: 24px;
    left: 163px;
    color: #ffffff;
}

.tours {
    position: absolute;
    font: normal normal bold 42px/58px Bahnschrift;
    color: #ffb300;
}

.arndGeo {
    position: absolute;
    left: 115px;
    width: 289px;
    font: normal normal normal 42px/58px Bahnschrift;
    color: #4d4d4d;
}

.rects2 {
    top: 62px;
    position: absolute;
}
/* third container*/

.rect3 {
    position: absolute;
    width: 76px;
    height: 41px;
    background-color: #f6f6f6;
    border-radius: 78px;
}

.rect4 {
    position: absolute;
    left: 86px;
    width: 125px;
    height: 41px;
    background-color: #ffb300;
    border-radius: 78px;
}

.rect5 {
    left: 221px;
    background-color: #f6f6f6;
    width: 131px;
    height: 41px;
    position: absolute;
    border-radius: 78px;
}

.rect6 {
    left: 362px;
    position: absolute;
    width: 132px;
    height: 41px;
    background-color: #f6f6f6;
    border-radius: 78px;
}

.all {
    position: absolute;
    top: 14px;
    color: #bebebe;
    font: normal normal normal 13px/20px Bahnschrift;
    left: 30px;
}

.frTb {
    position: absolute;
    top: 14px;
    color: #ffffff;
    font: normal normal normal 13px/20px Bahnschrift;
    left: 30px;
}

.frKut {
    position: absolute;
    top: 14px;
    color: #bebebe;
    font: normal normal normal 13px/20px Bahnschrift;
    left: 30px;
}

.frBtm {
    position: absolute;
    top: 14px;
    color: #bebebe;
    font: normal normal normal 13px/20px Bahnschrift;
    left: 30px;
}
.container {
    position: relative;
    /*top: 0px;*/
    /*left: 0px;*/
    width: 100%;
    float: left;
}

@media (min-width: 100px) and (max-width: 380px) {
    .container1 {
        left: 0px;
        top: 1263px;
        width: 375px;
        height: 340px;
        border-radius: 0px;
    }
    .picture1 {
        top: 0px;
        width: 375px;
        height: 340px;
        border-radius: 0px;
    }

    .background2 {
        top: 0px;
        width: 375px;
        height: 340px;
        border-radius: 0px;
    }
    .background1 {
        display: none;
    }
    .dispElems {
        left: 20px;
        top: 70px;
        width: 203px;
        height: 210px;
    }
    .center-text {
        top: 91px;
        width: 203px;
        height: 18px;
        font: normal normal bold 18px/20px Bahnschrift;
        color: white;
    }
    .right-arrow2 {
        position: absolute;
        top: 192px;
        left: 76px;
        width: 13px;
        height: 13px;
        color: #ffffff;
    }
    .container2 {
        top: 1663px;
        left: 0px;
        width: 375px;
        height: 222px;
    }

    /* change it to absolute*/
    .text1 {
        width: 179px;
        height: 28px;
        left:20px;
        font: normal normal normal 28px/20px Bahnschrift;
    }
    .text1::after {
        left: 80px;
        font: normal normal normal 28px/20px Bahnschrift;
    }
    #share-button1 {
        left: 200px;
    }
    .content {
        visibility: hidden;
    }
    .contentMb {
        visibility: visible;
    }
    .rects {
        top: 161px;
        left: 20px;
        width: 125px;
        height: 61px;
    }

    .rect1 {
        width: 125px;
        height: 61px;
        border-radius: 78px;
    }

    .view-Review {
        left: 12px;
    }
    .view-Review::before {
        visibility: hidden;
    }
    .rect2 {
        left: 135px;
    }
}
