
.container1 {
    position: relative;
    color: #FFFFFF;
    width: 50%;


}
.container2{
    position: relative;
    width:50%;
}

.picture1 {
    position: absolute;
    z-index: 3;
    top: 830px;
    left: 100px;
    width: 670px;
    height: 300px;
    border-radius: 0px 100px 30px 20px;
    opacity: 50%;

}
.background2{
    position: absolute;
    background-color: #4D4D4D;
    top: 830px;
    left: 100px;
    width: 670px;
    height: 300px;
    border-radius:0px 100px 30px 20px;
    z-index: 2;

}
.background1 {
    background-color: #F6F6F6;
    top: 780px;
    left: 150px;
    width: 500px;
    height: 350px;
    background-repeat: no-repeat;
    border-radius: 0px 100px 100px 20px;
    z-index: 1;
    position: relative;
}

.top-left {
    position: absolute;
    top: 877px;
    left: 153px;
    text-align: left;
    font: normal 13px/20px Bahnschrift;
    z-index: 4
}

.center-text {
    position: absolute;
    top: 964px;
    left: 153px;
    width: 361px;
    font: normal 32px Bahnschrift;
    z-index: 4
}

.length {
    position: absolute;
    top: 1051px;
    left: 155px;
    z-index: 4;
    font: normal 13px/20px Bahnschrift;
    opacity: 50%;
}

.tours {
    position: absolute;
    top: 1069px;
    left: 155px;
    z-index: 4;
    font: normal 13px/20px Bahnschrift;
}

.right-arrow1 {
    position: absolute;
    top: 896px;
    left: 177px;
    width: 13px;
    height: 13px;
    z-index: 4;
}
.right-arrow2{
    position: absolute;
    top: 1069px;
    left: 226px;
    width: 13px;
    height: 13px;
    z-index: 4;
}

.left-arrow {
    position: absolute;
    top: 896px;
    left: 153px;
    width: 13px;
    height: 13px;
    z-index: 4;
}
.text1{
    position: absolute;
    top: 0px;
    left: 0px;
    font: normal normal normal 42px/20px Bahnschrift;
    color:#4D4D4D;


}
.text2{
    position: absolute;
    top: 0px;
    left: 120px;
    font: normal normal normal 42px/20px Bahnschrift;
    color:#FFB300;

}
#t1{
    position: absolute;
    left:840px;
    top:829px;
    width: 121px;


}
#share-button1{
    position: absolute;
    top: 829px;
    left: 1117px;
    color:#FFB300;
}
.content{
    position:absolute;
    color:#BEBEBE;
    font-size: 13px;
    font: normal normal normal 13px/20px Bahnschrift;
    top: 901px;
    left: 840px;
    width: 980px;
    height: 139px;
}
.rects{
    position: absolute;
    top: 1069px;
    left:840px;

}
.rect1{
    position: absolute;
    background-color: #F6F6F6;
    width: 200px;
    height: 61px;
    border-radius: 78px;

}
.rect2{
    position: absolute;
    background-color:#FFB300;
    left: 210px;
    width: 200px;
    height: 61px;
    border-radius: 78px;

}
.view-Review{
    position: absolute;
    font: normal normal normal 13px/20px Bahnschrift;
    color:#4D4D4D;
    left:60px;
    top:24px;
}
.see-fully{
    position: absolute;
    font: normal normal normal 13px/20px Bahnschrift;
    color:#FFFFFF;
    left:73px;
    top:24px;

}
.right-arrow3{
    position: absolute;
    top: 24px;
    left: 163px;
    color:#FFFFFF;

}